/* =========================================
   GENERAL IMAGES
========================================= */

.poster-img {
  width: 100%;
  border-radius: 8px;
}

.poster-thumb,
.gallery-img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.cast-img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.thumbnail-image {
  width: 90px;
  object-fit: cover;
}